$blue-01: #044bd9;
$blue-02: #2b65d9;
$yellow-01: #f2ac29;
$yellow-02: #d69721;
$green-01: #04d98c;
$green-02: #09aa6f;
$red-01: #d90444;
$red-02: #a70535;
$white: #f2f2f2;
$gray-01: #e3e3e3;
$gray-02:#C8C8C8;

$text-bold: #414141;
