@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import './colors';
@import './functions';

* {
  margin: 0;
  padding: 0;
  outline:none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration:none;
}

img {
  max-width:100%;
  display:block;
}

footer {
  width:100%;
  text-align:center;
  padding:20px;
  position:fixed;
  bottom:0;
  left:0;
  background-color:$white;
  color:$text-bold;
  a {
    color:$blue-01;
  }
}

@media screen and (max-width:539px) {
  footer {
    font-size:12px;
  }

  
}

